blueprints/client-triage-engine.json
{
    "name": "Integration Google Forms",
    "flow": [
        {
            "id": 1,
            "module": "google-forms:watchResponses",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 8266287,
                "formId": "18OIseQrSvOqnMj82WxgdTVg6_OcCksvqmtHHgUMGXTo",
                "limit": 2
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Google connection",
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            }
                        },
                        "formId": {
                            "rpcSearch": {
                                "label": "Client Inbound Triage Form",
                                "value": "18OIseQrSvOqnMj82WxgdTVg6_OcCksvqmtHHgUMGXTo"
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "formId",
                        "type": "text",
                        "label": "Form ID",
                        "required": true
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "responseId",
                        "type": "text",
                        "label": "Response ID"
                    },
                    {
                        "name": "createTime",
                        "type": "date",
                        "label": "Create Time"
                    },
                    {
                        "name": "lastSubmittedTime",
                        "type": "date",
                        "label": "Last Submitted Time"
                    },
                    {
                        "name": "respondentEmail",
                        "type": "text",
                        "label": "Respondent Email"
                    },
                    {
                        "name": "answers",
                        "spec": [
                            {
                                "name": "2cc90485",
                                "spec": [
                                    {
                                        "name": "questionId",
                                        "type": "text",
                                        "label": "Question ID"
                                    },
                                    {
                                        "name": "grade",
                                        "spec": [
                                            {
                                                "name": "score",
                                                "type": "number",
                                                "label": "Score"
                                            },
                                            {
                                                "name": "correct",
                                                "type": "boolean",
                                                "label": "Correct"
                                            },
                                            {
                                                "name": "feedback",
                                                "spec": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text"
                                                    },
                                                    {
                                                        "name": "material",
                                                        "spec": [
                                                            {
                                                                "name": "link",
                                                                "spec": [
                                                                    {
                                                                        "name": "uri",
                                                                        "type": "text",
                                                                        "label": "URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Link"
                                                            },
                                                            {
                                                                "name": "video",
                                                                "spec": [
                                                                    {
                                                                        "name": "youtubeUri",
                                                                        "type": "text",
                                                                        "label": "Youtube URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Video"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Material"
                                                    },
                                                    {
                                                        "name": "textAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "value",
                                                                        "type": "text",
                                                                        "label": "value"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Text Answers"
                                                    },
                                                    {
                                                        "name": "fileUploadAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "fileId",
                                                                        "type": "text",
                                                                        "label": "File ID"
                                                                    },
                                                                    {
                                                                        "name": "fileName",
                                                                        "type": "text",
                                                                        "label": "File Name"
                                                                    },
                                                                    {
                                                                        "name": "mimeType",
                                                                        "type": "text",
                                                                        "label": "MIME Type"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "File Upload Answers"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Feedback"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Grade"
                                    }
                                ],
                                "type": "collection",
                                "label": "Full Name:"
                            },
                            {
                                "name": "21e56172",
                                "spec": [
                                    {
                                        "name": "questionId",
                                        "type": "text",
                                        "label": "Question ID"
                                    },
                                    {
                                        "name": "grade",
                                        "spec": [
                                            {
                                                "name": "score",
                                                "type": "number",
                                                "label": "Score"
                                            },
                                            {
                                                "name": "correct",
                                                "type": "boolean",
                                                "label": "Correct"
                                            },
                                            {
                                                "name": "feedback",
                                                "spec": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text"
                                                    },
                                                    {
                                                        "name": "material",
                                                        "spec": [
                                                            {
                                                                "name": "link",
                                                                "spec": [
                                                                    {
                                                                        "name": "uri",
                                                                        "type": "text",
                                                                        "label": "URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Link"
                                                            },
                                                            {
                                                                "name": "video",
                                                                "spec": [
                                                                    {
                                                                        "name": "youtubeUri",
                                                                        "type": "text",
                                                                        "label": "Youtube URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Video"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Material"
                                                    },
                                                    {
                                                        "name": "textAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "value",
                                                                        "type": "text",
                                                                        "label": "value"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Text Answers"
                                                    },
                                                    {
                                                        "name": "fileUploadAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "fileId",
                                                                        "type": "text",
                                                                        "label": "File ID"
                                                                    },
                                                                    {
                                                                        "name": "fileName",
                                                                        "type": "text",
                                                                        "label": "File Name"
                                                                    },
                                                                    {
                                                                        "name": "mimeType",
                                                                        "type": "text",
                                                                        "label": "MIME Type"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "File Upload Answers"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Feedback"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Grade"
                                    }
                                ],
                                "type": "collection",
                                "label": "Company Email:"
                            },
                            {
                                "name": "118ca818",
                                "spec": [
                                    {
                                        "name": "questionId",
                                        "type": "text",
                                        "label": "Question ID"
                                    },
                                    {
                                        "name": "grade",
                                        "spec": [
                                            {
                                                "name": "score",
                                                "type": "number",
                                                "label": "Score"
                                            },
                                            {
                                                "name": "correct",
                                                "type": "boolean",
                                                "label": "Correct"
                                            },
                                            {
                                                "name": "feedback",
                                                "spec": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text"
                                                    },
                                                    {
                                                        "name": "material",
                                                        "spec": [
                                                            {
                                                                "name": "link",
                                                                "spec": [
                                                                    {
                                                                        "name": "uri",
                                                                        "type": "text",
                                                                        "label": "URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Link"
                                                            },
                                                            {
                                                                "name": "video",
                                                                "spec": [
                                                                    {
                                                                        "name": "youtubeUri",
                                                                        "type": "text",
                                                                        "label": "Youtube URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Video"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Material"
                                                    },
                                                    {
                                                        "name": "textAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "value",
                                                                        "type": "text",
                                                                        "label": "value"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Text Answers"
                                                    },
                                                    {
                                                        "name": "fileUploadAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "fileId",
                                                                        "type": "text",
                                                                        "label": "File ID"
                                                                    },
                                                                    {
                                                                        "name": "fileName",
                                                                        "type": "text",
                                                                        "label": "File Name"
                                                                    },
                                                                    {
                                                                        "name": "mimeType",
                                                                        "type": "text",
                                                                        "label": "MIME Type"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "File Upload Answers"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Feedback"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Grade"
                                    }
                                ],
                                "type": "collection",
                                "label": "Priority"
                            }
                        ],
                        "type": "collection",
                        "label": "Answers"
                    },
                    {
                        "name": "totalScore",
                        "type": "number",
                        "label": "Total Score"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "google-sheets:addRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 8266349
            },
            "mapper": {
                "mode": "select",
                "insertUnformatted": false,
                "valueInputOption": "USER_ENTERED",
                "insertDataOption": "INSERT_ROWS",
                "from": "drive",
                "spreadsheetId": "/1c5g9lO99Mji6Vut4ZWElpl5uMSE3AYNoE28_AG5xIdI",
                "sheetId": "Form Responses 1",
                "includesHeaders": true,
                "useColumnHeaders": false,
                "values": {
                    "0": "{{1.createTime}}",
                    "1": "{{1.answers.`2cc90485`}}",
                    "2": "{{1.answers.`21e56172`}}",
                    "3": "{{1.answers.`118ca818`}}"
                }
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 150
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Google connection",
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            }
                        }
                    },
                    "expect": {
                        "mode": {
                            "label": "Search by path"
                        },
                        "insertUnformatted": {
                            "mode": "chose"
                        },
                        "valueInputOption": {
                            "mode": "chose",
                            "label": "User entered"
                        },
                        "insertDataOption": {
                            "mode": "chose",
                            "label": "Insert rows"
                        },
                        "from": {
                            "label": "My Drive"
                        },
                        "spreadsheetId": {
                            "path": [
                                "Client Inbound Triage Form (Responses)"
                            ]
                        },
                        "sheetId": {
                            "label": "Form Responses 1"
                        },
                        "includesHeaders": {
                            "label": "Yes"
                        },
                        "useColumnHeaders": {
                            "nested": [
                                {
                                    "name": "values",
                                    "label": "Values in columns",
                                    "type": "collection",
                                    "spec": [
                                        {
                                            "name": "0",
                                            "label": "Timestamp (A)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "1",
                                            "label": "Full Name: (B)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "2",
                                            "label": "Company Email: (C)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "3",
                                            "label": "Priority (D)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "4",
                                            "label": "(E)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "5",
                                            "label": "(F)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "6",
                                            "label": "(G)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "7",
                                            "label": "(H)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "8",
                                            "label": "(I)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "9",
                                            "label": "(J)",
                                            "type": "text"
                                        }
                                    ],
                                    "metadata": [
                                        [
                                            [
                                                "Timestamp",
                                                "Full Name:",
                                                "Company Email:",
                                                "Priority"
                                            ]
                                        ]
                                    ]
                                }
                            ],
                            "label": "No"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "insertUnformatted",
                        "type": "boolean",
                        "label": "Unformatted",
                        "required": true
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "required": true,
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "insertDataOption",
                        "type": "select",
                        "label": "Insert data option",
                        "validate": {
                            "enum": [
                                "INSERT_ROWS",
                                "OVERWRITE"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet Name",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "useColumnHeaders",
                        "type": "select",
                        "label": "Use column headers as IDs of the columns",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "values",
                        "type": "collection",
                        "label": "Values in columns",
                        "metadata": [
                            [
                                [
                                    "Timestamp",
                                    "Full Name:",
                                    "Company Email:",
                                    "Priority"
                                ]
                            ]
                        ],
                        "spec": [
                            {
                                "name": "0",
                                "type": "text",
                                "label": "Timestamp (A)"
                            },
                            {
                                "name": "1",
                                "type": "text",
                                "label": "Full Name: (B)"
                            },
                            {
                                "name": "2",
                                "type": "text",
                                "label": "Company Email: (C)"
                            },
                            {
                                "name": "3",
                                "type": "text",
                                "label": "Priority (D)"
                            },
                            {
                                "name": "4",
                                "type": "text",
                                "label": "(E)"
                            },
                            {
                                "name": "5",
                                "type": "text",
                                "label": "(F)"
                            },
                            {
                                "name": "6",
                                "type": "text",
                                "label": "(G)"
                            },
                            {
                                "name": "7",
                                "type": "text",
                                "label": "(H)"
                            },
                            {
                                "name": "8",
                                "type": "text",
                                "label": "(I)"
                            },
                            {
                                "name": "9",
                                "type": "text",
                                "label": "(J)"
                            }
                        ]
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 150
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 4,
                            "module": "slack:CreateMessage",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 8266510
                            },
                            "filter": {
                                "name": "Filter: If Urgent",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.answers.`118ca818`.textAnswers.answers[].value}}",
                                            "o": "text:equal:ci",
                                            "b": "urgent"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "channelWType": "list",
                                "text": "🚨 URGENT CLIENT INBOUND TRIAGE 🚨\n\n👤 Client Name: {{1.answers.`2cc90485`.textAnswers.answers[].value}}\n📧 Email: {{1.answers.`21e56172`.textAnswers.answers[].value}}\n⚡ Priority: Urgent\n\nPlease review the database immediately!",
                                "parse": false,
                                "mrkdwn": true,
                                "channelType": "public",
                                "channel": "C0BATQGRKGS"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 0
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My Slack (user) connection (portfolio-rlb2602.slack.com - kevinjaygracias)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "slack2"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "channelWType": {
                                            "label": "Select from the list"
                                        },
                                        "reply_broadcast": {
                                            "mode": "chose"
                                        },
                                        "link_names": {
                                            "mode": "chose"
                                        },
                                        "parse": {
                                            "mode": "chose"
                                        },
                                        "mrkdwn": {
                                            "mode": "chose"
                                        },
                                        "unfurl_links": {
                                            "mode": "chose"
                                        },
                                        "unfurl_media": {
                                            "mode": "chose"
                                        },
                                        "channelType": {
                                            "label": "Public channel"
                                        },
                                        "channel": {
                                            "mode": "chose",
                                            "label": "all-portfolio"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:slack2,slack3",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "channelWType",
                                        "type": "select",
                                        "label": "Enter a channel ID or name",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "manualy",
                                                "list"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "blocks",
                                        "type": "text",
                                        "label": "Blocks"
                                    },
                                    {
                                        "name": "thread_ts",
                                        "type": "text",
                                        "label": "Thread message ID (time stamp)"
                                    },
                                    {
                                        "name": "reply_broadcast",
                                        "type": "boolean",
                                        "label": "Reply broadcast"
                                    },
                                    {
                                        "name": "link_names",
                                        "type": "boolean",
                                        "label": "Link names"
                                    },
                                    {
                                        "name": "parse",
                                        "type": "boolean",
                                        "label": "Parse message text"
                                    },
                                    {
                                        "name": "mrkdwn",
                                        "type": "boolean",
                                        "label": "Use markdown"
                                    },
                                    {
                                        "name": "unfurl_links",
                                        "type": "boolean",
                                        "label": "Unfurl primarily text-based content"
                                    },
                                    {
                                        "name": "unfurl_media",
                                        "type": "boolean",
                                        "label": "Unfurl media content"
                                    },
                                    {
                                        "name": "icon_emoji",
                                        "type": "text",
                                        "label": "Icon emoji"
                                    },
                                    {
                                        "name": "icon_url",
                                        "type": "url",
                                        "label": "Icon url"
                                    },
                                    {
                                        "name": "username",
                                        "type": "text",
                                        "label": "User name"
                                    },
                                    {
                                        "name": "channelType",
                                        "type": "select",
                                        "label": "Channel type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "public",
                                                "private",
                                                "im",
                                                "mpim"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "channel",
                                        "type": "select",
                                        "label": "Public channel",
                                        "required": true
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 5,
                            "module": "placeholder:Placeholder",
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 300
                                }
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}